<section id="sponsors">
  <div class="container">
    <h2 class="footer-title">Sponsored by:</h2>
  </div>
</section>
<section>
  <div class="container">
    <div class="sponsors-grid fade-in">
      <div class="sponsor-item">
        <img src="assets/img/miro-logo.png" alt="Millennium Institute for Research in Optics – MIRO">
      </div>
      <div class="sponsor-item">
        <img src="assets/img/milenio.png" alt="ANID Chile">
      </div>
      <div class="sponsor-item">
        <img src="" alt="LOGO EXTRA 1">
      </div>
      <div class="sponsor-item">
        <img src="" alt="LOGO EXTRA 2">
      </div>
    </div>
  </div>
</section>