<nav class="navbar">
  <a href="index.html" class="nav-brand">MQT 2026</a>
  
  <button class="nav-toggle" aria-label="toggle navigation">
    <svg viewBox="0 0 24 24" width="24" height="24">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>
  </button>

  <ul class="nav-links">
    <li><a href="program.html">Program</a></li>
    <li><a href="speakers.html">Speakers</a></li>
    <li><a href="interviews.html">MQT Interviews</a></li>
    <li><a href="location.html">Location</a></li>
    <li class="nav-dropdown">
      <a href="#">Past Events ▾</a>
      <div class="dropdown-menu">
        <a href="https://mqt2024.org" target="_blank">MQT 2024</a>
        <a href="http://mqt2022.org" target="_blank">MQT 2022</a>
      </div>
    </li>
  </ul>
</nav>